.app {
  background-color: aqua;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar {
  width: 80%;
  height: 50px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  margin: 50px;
}

.nav-link {
  display: flex;
  align-items: center;
  gap: 50px;
}
